<ion-header>
  <ion-toolbar color="warning"><!--change styles-->
    <ion-buttons slot="start" defaultHref="/tabs/episodes">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Episode Details</ion-title>

    <ion-buttons slot="end"><!-- to get unfavorite episode-->
      <ion-button (click)="unfavoriteEpisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button><!-- to get favorite episode-->
      <ion-button (click)="favoriteEpisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="episode" class="movie-card"><!-- episode details-->
    <ion-card-header>Title: {{ episode.title }}</ion-card-header>
    
    <ion-card-content>
     Season: {{ episode.season }}<!-- episode details-->
    </ion-card-content>
   
    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Release Date: {{ episode.air_date }}<!-- episode details-->
    </ion-item>
  </ion-card>

</ion-content>